.budget-tracker{
    margin-top: 80px;
}

.budget-list{
    border: 1px solid darkgray;
    margin-top: 80px;
    padding: 20px;
}

.budget-item{
    margin-top: 10px;
}

.b-description{
    font-weight: 700;
}

.b-amount{
    font-weight: 600;
}

.b-date{
    font-weight: 500;
}

.b-category{
    font-weight: 700;
}